@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
.wallet-adapter-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: DM Sans, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
}

@font-face {
  font-family: ChicagoFLF;
  src: url(/ChicagoFLF.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  background-image: url(/background_patch.png);
}

html,
body {
  height: 100%;
  font-family: 'ChicagoFLF';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wallet-adapter-button-trigger {
  background: rgb(247, 247, 247) !important;
  color: black;
  border: 1px solid black;
  border-radius: 4px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 290%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.card {
  margin: 10px 0;
  padding: 0.5rem;
  text-align: center;
  color: #000;
  background-color: #fafafa;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 5px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-family: ChicagoFLF;
}

.card:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}
